*.apk
*.apks
*.aab
*.idsig
*.keystore
*.jks
*.p12
*.pkcs12
*.pfx
*.pem
*.key
*.pk8
*.der
*.crt
*.cer
*.store
android-client/build/
android-admin-client/build/
location-release.apk
location-admin-release.apk
